body {
  background-image: url('../images/Ebytr-Tasks-Wallpaper-HD.jpg');
  background-repeat: no-repeat;
  background-size: 135%;
  font-family: Cyberspace-Raceway-Back , sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}
