body {
  background-image: url('../images/Ebytr-Tasks-Wallpaper-HD.jpg');
  background-repeat: no-repeat;
  background-size: 135%;
  padding: 0;
  margin: 0;
  font-family: 'Cyberspace-Raceway-Back', sans-serif;
  height: 100vh;
  width: 100vw;
}
