@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap') ;

h1 {
  animation: 5.5s;
  color: rgb(3, 108, 110);
  cursor: pointer;
  font-family: Poppins , cursive;
  font-size: 70px;
  left: 60%;
  position: absolute;
  text-shadow: 4px 4px #c08c2d;
}

